body {
    background-color: tan;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-container{
    display: flex;
    justify-content: space-between;
}

/* .section-container button{
    
} */

#list{
    display: flex;
    justify-content: space-between;
}

/*---------------------------------------------*/

@media screen and (max-width: 600px){
    .section-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }


    .first-name{
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    #firstname{
        grid-column: 2/4;
        grid-row: 1;
    }

    .last-name{
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
    }

    #lastname{
        grid-column: 2/4;
        grid-row: 2;
    }

    .program{
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }

    #progname{
        grid-column: 2/4;
        grid-row: 3;
    }

    .submit-container{
        margin: 15px;
        grid-column: 2;
        justify-self: center;
    }


    
}